<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách sản phẩm
      <span class="pull-right">
        <a class="btn btn-block btn-primary" (click)="openModal(templateAddProd)">
          <i class="fa fa-edit"></i> Thêm mới
        </a>
      </span>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <ng-template #templateAddProd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Tạo mới sản phẩm</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefAddProd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add SP-->
      <div class="modal-body">
        <form [formGroup]="addProdForm" (ngSubmit)="createProduct()">
          <div class="form-group">
            <label for="masp">Mã sản phẩm</label>
            <input type="text" class="form-control" id="masp" 
            placeholder="Nhập mã sản phẩm" formControlName="masp"/>
          </div>
          <div class="form-group">
            <label for="tensp">Tên sản phẩm</label>
            <input type="text" class="form-control" id="tensp" 
            placeholder="Nhập tên SP (bắt buộc)" formControlName="tensp"/>
          </div>
          <div class="form-group">
            <label for="soluong">Số lượng</label>
            <input type="number" class="form-control"
             name="soluong" formControlName="soluong"/>
          </div>
          <div class="form-group form-inline">
            <label for="giavon">Giá vốn   </label>
            <input type="number" class="form-control"
             name="giavon" formControlName="giavon"/>
            <label for="giaban">Giá bán   </label>
            <input type="number" 
            class="form-control" name="giaban" formControlName="giaban"/>
          </div>
          <div class="form-group">
            <label for="danhmuc">Danh mục</label>
            <div class="form-check">
              <div *ngFor="let item of listCateProd">
              <input class="form-check-input" type="checkbox" value="{{item.id}}" formControlName="danhmuc"/>
              <label class="form-check-label">
                {{item.tendanhmuc}}
              </label>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nhasx">Nhà sản xuất</label>
            <select name="nhasx" class="form-control" id="nhasx" formControlName="nhasx">
              <option *ngFor="let item of listManufProd" value="{{item.id}}">{{item.tennsx}}</option>  
          </select>
          </div>
          <div class="form-group">
            <label for="motasp">Mô tả sản phẩm</label>
            <textarea type="text" class="form-control" id="motasp" formControlName="motasp">
                    </textarea>
          </div>
          <div class="form-group">
            <label for="anhsp">Ảnh sản phẩm</label>
            <label>
              <input type="file" (change)="selectFile($event)" formControlName="anhsp">
            </label>
          </div>
          <div class="form-group">
            <label>Gắn nhãn</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="ishot" value="1" formControlName="hot">
              <label class="form-check-label" for="ishot">
                is Hot
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="isnew" value="1" formControlName="new">
              <label class="form-check-label" for="isnew">
                is New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="displaywebsite" value="1" formControlName="display">
              <label class="form-check-label" for="displaywebsite">
                Hiển thị trên website
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click) = "createProduct()">Lưu</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>

    <ng-template #templateEditProd>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Edit sản phẩm</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRefEditProd.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add SP-->
      <div class="modal-body">
        <form [formGroup]="editProdForm" (ngSubmit)="createProduct()">
          <div class="form-group">
            <label for="masp">Mã sản phẩm</label>
            <input type="text" class="form-control" id="masp" 
            placeholder="Mã tự sinh nếu bỏ trống" formControlName="masp"/>
          </div>
          <div class="form-group">
            <label for="tensp">Tên sản phẩm</label>
            <input type="text" class="form-control" id="tensp" 
            placeholder="Nhập tên SP (bắt buộc)" formControlName="tensp"/>
          </div>
          <div class="form-group">
            <label for="sdtkh">Số lượng</label>
            <input type="number" class="form-control"
             name="soluong" formControlName="soluong"/>
          </div>
          <div class="form-group form-inline">
            <label for="giavon">Giá vốn   </label>
            <input type="number" class="form-control"
             name="giavon" formControlName="giavon"/>
            <label for="giaban">Giá bán   </label>
            <input type="number" 
            class="form-control" name="giaban" formControlName="giaban"/>
          </div>
          <div class="form-group">
            <label for="danhmuc">Danh mục</label>
            <div class="form-check">
              <div *ngFor="let item of listCateProd">
              <input class="form-check-input" type="checkbox" value="{{item.id}}" formControlName="danhmuc"/>
              <label class="form-check-label">
                {{item.tendanhmuc}}
              </label>
            </div>
            </div>
          </div>
          <div class="form-group">
            <label for="nhasx">Nhà sản xuất</label>
            <select name="nhasx" class="form-control" id="nhasx" formControlName="nhasx">
              <option *ngFor="let item of listManufProd" value="{{item.id}}">{{item.tennsx}}</option>  
          </select>
          </div>
          <div class="form-group">
            <label for="motasp">Mô tả sản phẩm</label>
            <textarea type="text" class="form-control" id="motasp" formControlName="motasp">
                    </textarea>
          </div>
          <div class="form-group">
            <label for="anhsp">Ảnh sản phẩm</label>
            <input type="text" class="form-control" id="anhsp" formControlName="anhsp"/>
          </div>
          <div class="form-group">
            <label>Gắn nhãn</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="ishot" value="1" formControlName="hot">
              <label class="form-check-label" for="ishot">
                is Hot
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="isnew" value="1" formControlName="new">
              <label class="form-check-label" for="isnew">
                is New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="displaywebsite" value="1" formControlName="display">
              <label class="form-check-label" for="displaywebsite">
                Hiển thị trên website
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" (click) = "createProduct()">Update</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>
    <div class="box">
      <div class="box-header">
        <div class="form-group col-md-5 padd-0">
          <input class="form-control" id="product-search" name="searchTerm" [(ngModel)]="searchTerm" type="text" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm">
        </div>
        <div class="form-group col-md-7 ">
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
            <select class="form-control" [(ngModel)]="filterStatus" (change)="filter()"
            name="filterStatus">
              <option value="0">Trạng thái</option>
              <option value="1">Đang kinh doanh</option>
              <option value="2">Đã ngừng kinh doanh</option>
            </select>
          </div>
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
          <select class="form-control" >
              <option selected="selected" value="0">--Danh mục--</option>
              <option *ngFor="let item of listCateProd" value="{{item.id}}">{{item.tendanhmuc}}</option>
            </select>
          </div>
          <div class="col-md-3 padd-0" style="margin-right: 10px;">
            <select class="form-control search-option-3" id="prd_manufacture_id">
              <option selected="selected" value="0">--Nhà sản xuất--</option>
              <option *ngFor="let item of listManufProd" value="{{item.id}}">{{item.tennsx}}</option>
            </select>
          </div>
          <button class="btn btn-primary btn-large btn-ssup" (click)="search()"><i class="fa fa-search"></i> Tìm kiếm
          </button>
        </div>
      </div>
      <div class="box-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tên sản phẩm</th>
              <th scope="col">Mã sản phẩm</th>
              <th scope="col">SL</th>
              <th scope="col">Giá bán</th>
              <th scope="col">Danh mục</th>
              <th scope="col">Nhà sản xuất</th>
              <th scope="col">Công cụ</th>
            </tr>
          </thead>
          <tbody>
              <ng-template ngFor let-item [ngForOf]="listProds" let-i="index">
                <tr>
                  <td scope="row">{{item.tensp}}</td>
                  <th scope="row" (click) = "toggleChiTietSanPham(i)"
                  >{{item.masp}}</th>
                  <td scope="row">{{item.soluong}}</td>
                  <td scope="row">{{item.giaban | currency: "VND"}}</td>
                  <td scope="row"><span *ngFor="let danhmuc of item.chitietdanhmuc; let i=index">{{danhmuc.danhmucsp.tendanhmuc}}<span *ngIf="i!=item.chitietdanhmuc.length-1">, </span>  </span></td>
                  <td scope="row">{{item.nhasanxuat.tennsx}}</td>
                  <td style="text-align: center;">
                      <i title="Sửa" class="fa fa-pencil-square-o" style="margin-right: 5px;"
                      (click)="openModal(templateEditProd)"></i>
                      <i class="fa fa-trash-o" style="color: darkred;" title="Xóa" (click)="deleteProduct(item.id)"></i>
                  </td>
                </tr>

                <!-- <tr *ngIf="listSubTrTableProd[i]">
                  <td colspan="15">
                    <div class="tabbable">
                      <ul class="nav nav-tabs">
                        <li class="active">
                          <a data-toggle="tab">
                            <i class="green icon-reorder bigger-110"></i>
                            Chi tiết sản phẩm
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active">
                          <div class="alert alert-success clearfix" style="display: flex;">
                            <div>
                              <i class="fa fa-cart-arrow-down">
                              </i>
                              <span class="hidden-768">Số lượng SP:
                              </span>
                              <label>{{getTotalChiTietBillByIdBill(item)}} </label>
                            </div>
                            <div class="padding-left-10">
                              <span class="hidden-768">Tiền hàng:
                              </span>
                              <label>{{item.tonggia | currency: "VND"}} </label>
                            </div>
                            <div class="padding-left-10">
                              <span class="hidden-768">Giảm giá:
                              </span>
                              <label>{{item.giamgia | currency: "VND"}} </label>
                            </div>
                            <div class="padding-left-10">
                              <span class="hidden-768">Tổng tiền:
                              </span>
                              <label>{{item.tonggia - item.giamgia | currency: "VND"}} </label>
                            </div>
                            <div class="padding-left-10">
                              <i class="fa fa-clock-o"></i>
                              <span class="hidden-768">Còn nợ: </span>
                              <label>{{item.tonggia-item.khachhangtra-item.giamgia | currency: "VND"}} </label>
                            </div>
                          </div>
                          <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                              <tr role="row">
                                <th class="text-center">STT</th>
                                <th class="text-left hidden-768">Mã sản phẩm</th>
                                <th class="text-left">Tên sản phẩm</th>
                                <th class="text-center">Hình ảnh</th>
                                <th class="text-center">Số lượng</th>
                                <th class="text-center">ĐVT</th>
                                <th class="text-center">Giá bán</th>
                                <th class="text-center ">Thành tiền</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor = "let prod of item.chitiethoadons">
                                <td class="text-center width-5 hidden-320 ">
                                  1 </td>
                                <td class="text-left hidden-768">
                                  {{prod.sanpham.masp}} </td>
                                <td class="text-left ">
                                  {{prod.sanpham.tensp}} </td>
                                <td class="text-center zoomin">
                                  <img height="30" src="{{prod.sanpham.anhsp}}">
                                </td>

                                <td class="text-center">
                                  {{prod.soluong}} </td>
                                <td class="text-center">
                                  {{prod.sanpham.donvitinh}} </td>
                                <td class="text-center">
                                  {{prod.sanpham.giaban | currency: "VND"}} </td>
                                <td class="text-center">
                                  {{prod.gia * prod.soluong | currency: "VND"}} </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr> -->

              </ng-template>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <div class="d-flex justify-content-between p-2"></div>
        <div class="alert alert-info summany-info clearfix" role="alert">
          <div class="sm-info pull-left">
            SL sản phẩm/SL nhà sản xuất: 3/2
          </div>
          <div class="pull-right">
            <pagination previousText="&lsaquo;" name="currentPage" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)">
            </pagination>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
