<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Danh sách đơn hàng
      <span class="pull-right">
        <a class="btn btn-block btn-primary" routerLink="../sell-prod" >
          <i class="fa fa-edit"></i> Bán hàng
        </a>
      </span>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content">
      <div class="box">
          <form>
            <div class="box-header">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <input
                    class="form-control"
                    type="text"
                    name="searchTerm"
                    placeholder="Nhập mã đơn hàng để tìm kiếm"
                  />
                </div>
                <div class="form-group col-md-9 padd-0" style="padding-left: 5px;">
                    <div class="col-md-9 padd-0">
                        <div class="col-md-4 padd-0">
                            <select class="form-control" id="search-option-1">
                                <option value="0">Đơn hàng</option>
                                <option value="1">Đơn hàng đã trả hết</option>
                                <option value="2">Đơn hàng còn nợ</option>
                            </select>
                        </div>
                        <div class="col-md-5 padd-0" style="padding-left: 5px;">
                            <div class="input-daterange input-group" id="datepicker">
                                <input name="start" class="input-sm form-control" id="search-date-from" type="text" placeholder="Từ ngày">
                                <span class="input-group-addon">to</span>
                                <input name="end" class="input-sm form-control" id="search-date-to" type="text" placeholder="Đến ngày">
                            </div>
                        </div>
                        <div class="col-md-3 padd-0" style="padding-left: 5px;">
                            <button class="btn btn-primary btn-large" style="box-shadow: none;"  type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3 padd-0" style="padding-left: 5px;">
                        <div class="btn-group order-btn-calendar">
                            <button class="btn btn-default"  type="button">Tuần</button>
                            <button class="btn btn-default"  type="button">Tháng</button>
                            <button class="btn btn-default" type="button">Quý</button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Ngày bán</th>
                    <th scope="col">Thu ngân</th>
                    <th scope="col">
                      <select id="customer-id" style="text-align:center;">
                        <option value="-1">Khách hàng</option>
                        <option value="5">Cao Tiến Trung</option>
                        <option value="6">Trần Thanh Phong</option>
                      </select>
                    </th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Nợ</th>
                    <th scope="col">Công cụ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">id</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="box-footer">
              <div class="d-flex justify-content-between p-2"></div>
              <div class="alert alert-info" role="alert">
                Tổng số đơn hàng: <span>3</span> Tổng tiền: <span>1.000.000</span>đ
                Tổng nợ: <span>0</span>đ
              </div>
            </div>
          </form>
      </div>
  </section>
</div>
