<div class="content-wrapper">
  <section class="content-header">
    <div class="row">
      <div class="orders-act">
        <div class="col-md-4 col-md-offset-2">
          <div class="left-action text-left clearfix">
            <h2>Đơn hàng »</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-action text-right">
            <div class="btn-groups">
              <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> Lưu
              </button>
              <a routerLink="../orders">
                <button class="btn-back btn btn-default" type="button"><i class="fa fa-arrow-left"></i> Hủy
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Main content -->
  <section class="content">
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          <strong>Tạo mới khách hàng</strong>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Form Add KH-->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="makh">Mã KH</label>
            <input type="text" class="form-control" id="makh" placeholder="Mã KH (tự sinh nếu bỏ trống)" />
          </div>
          <div class="form-group">
            <label for="tenkh">Tên KH</label>
            <input type="text" class="form-control" id="tenkh" placeholder="Nhập tên KH (bắt buộc)" />
          </div>
          <div class="form-group">
            <label for="sdtkh">Số điện thoại</label>
            <input type="text" class="form-control" id="sdtkh" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label for="diachikh">Địa chỉ</label>
            <input type="text" class="form-control" id="diachikh" />
          </div>
          <div class="form-group">
            <label for="ngaysinhkh">Ngày sinh</label>
            <input type="datetime" class="form-control" id="ngaysinhkh" />
          </div>
          <div class="form-group">
            <label>Giới tính</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gioitinhkh" id="gioitinhnam" value="1" checked>
              <label class="form-check-label" for="gioitinhnam">
                Nam
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gioitinhkh" id="gioitinhnu" value="0">
              <label class="form-check-label" for="gioitinhnu">
                Nữ
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>

        </form>
      </div>
      <!--End form add KH-->
    </ng-template>
    <div class="row">
      <div class="col-md-8">
        <div class="order-search" style="margin: 10px 0px; position: relative;">
          <input class="form-control ui-autocomplete-input" (change) = "searchProd()" ([ngModel])="keySearchProd" name="keySearchProd" type="text"
            placeholder="Nhập mã sản phẩm hoặc tên sản phẩm" autocomplete="off">
        </div>

        <div class="product-results">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-center">STT</th>
                <th>Mã hàng</th>
                <th>Tên sản phẩm</th>
                <th class="text-center">Số lượng</th>
                <th class="text-center">Giá bán</th>
                <th class="text-center">Thành tiền</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="pro_search_append">
            </tbody>
          </table>
          <div class="alert alert-success" role="alert" style="margin-top: 30px;">Gõ mã hoặc tên sản phẩm vào hộp
            tìm kiếm để thêm hàng vào đơn hàng
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="morder-info" style="padding: 4px;">
              <div class="tab-contents" style="padding: 8px 6px;">
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4" style="padding:0px">
                    <label>Khách hàng</label>
                  </div>
                  <div class="col-md-8">
                    <div class="col-md-10 padd-0" style="position: relative;">
                      <input class="form-control" id="search-box-cys" style="border-radius: 3px 0 0 3px !important;"
                        type="text" placeholder="Tìm khách hàng"><span class="del-cys"
                        style="color: red; position: absolute; right: 5px; top:5px; "></span>

                      <div id="cys-suggestion-box"
                        style="border: 1px solid #444; display: none; overflow-y: auto;background-color: #fff; z-index: 2 !important; position: absolute; left: 0; width: 100%; padding: 5px 0px; max-height: 400px !important;">
                        <div class="search-cys-inner"></div>
                      </div>
                    </div>
                    <div class="col-md-2 padd-0">
                      <button class="btn btn-primary"
                        style="border-radius: 0 3px 3px 0; box-shadow: none; padding: 7px 11px;" type="button"
                        (click)="openModal(template)">
                        +
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4" style="padding:0px">
                    <label>Ngày bán</label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control datepk" id="date-order" style="border-radius: 0 !important;" type="text"
                      placeholder="Hôm nay">
                  </div>

                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4" style="padding:0px">
                    <label>NV bán hàng</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control" id="sale_id">
                      <option value="">--Chọn--</option>
                      <option value="2">admin</option>
                      <option value="6">test</option>
                    </select>
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4" style="padding:0px">
                    <label>Ghi chú</label>
                  </div>
                  <div class="col-md-8">
                    <textarea class="form-control" id="note-order" style="border-radius: 0;" rows="3"
                      cols="20"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <h4 class="lighter" style="margin-top: 0;">
              <i class="fa fa-info-circle blue"></i>
              Thông tin thanh toán
            </h4>

            <div class="morder-info" style="padding: 4px;">
              <div class="tab-contents" style="padding: 8px 6px;">
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4">
                    <label>Hình thức</label>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input name="method-pay" class="payment-method" type="radio" checked="" value="1">
                      Tiền mặt &nbsp;
                      <input name="method-pay" class="payment-method" type="radio" value="2"> Thẻ&nbsp;
                      <input name="method-pay" class="payment-method" type="radio" value="3"> CK&nbsp;
                    </div>

                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4">
                    <label>Tiền hàng</label>
                  </div>
                  <div class="col-md-8">
                    <div class="total-money">
                      0
                    </div>
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4">
                    <label>Giảm giá</label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control text-right txtMoney discount-order" style="border-radius: 0 !important;"
                      type="text" placeholder="0">
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4">
                    <label>Tổng cộng</label>
                  </div>
                  <div class="col-md-8">
                    <div class="total-after-discount">
                      0
                    </div>
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4 padd-right-0">
                    <label>Khách đưa</label>
                  </div>
                  <div class="col-md-8">
                    <input class="form-control text-right txtMoney customer-pay" style="border-radius: 0 !important;"
                      type="text" placeholder="0">
                  </div>
                </div>
                <div class="form-group marg-bot-10 clearfix">
                  <div class="col-md-4">
                    <label class="debt">Còn nợ</label>
                  </div>
                  <div class="col-md-8">
                    <div class="debt">0</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="btn-groups pull-right" style="margin-bottom: 50px;">
              <button class="btn btn-primary" type="button"><i class="fa fa-check"></i> Lưu
              </button>
              <a routerLink="../orders">
                <button class="btn-back btn btn-default" type="button"><i class="fa fa-arrow-left"></i> Hủy
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
